<%- include("header") %>

<%- include("navbar") %>

<main class="container">
  <div class="row pt-8">
    <div class="col-12">
        <h2>Data Entry Page - New Record</h2>
    </div>
  </div>
</main>

<%- include("footer") %>